<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>התחברות</title>
</head>
<body>
<h2>התחברות</h2>

<% if (typeof error !== 'undefined') { %>
    <p style="color:red;"><%= error %></p>
<% } %>

<form method="GET" action="/Users/Login">
    <label>שם משתמש:</label>
    <input type="text" name="uname" required /><br/>

    <label>סיסמה:</label>
    <input type="password" name="passwd" required /><br/>

    <button type="submit">התחבר</button>
</form>
</body>
</html>
